/**** SLIDE 1 ****/

.logo {
  max-width: 80%;
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-blue {
  from {
    fill: transparent;
  }

  to {
    fill: #0B0CAC;
  }
}

@keyframes fill-red {
  from {
    fill: transparent;
  }

  to {
    fill: #FF5576;
  }
}

#pil-heart > path:nth-child(1) {
  stroke-dasharray: 1103.80712890625;
  stroke-dashoffset: 1103.80712890625;
  animation: line 5.5s ease forwards 0.5s;
}


#pil-separator > path:nth-child(1) {
  stroke-dasharray: 371.69073486328125;
  stroke-dashoffset: 371.69073486328125;
  animation: line 1.5s ease forwards 0.6s;
}


#pil-text > path:nth-child(1) {
  stroke-dasharray: 417.4366149902344;
  stroke-dashoffset: 417.4366149902344;
  animation: line 1.5s ease forwards 0.7s;
}

#pil-text > path:nth-child(2) {
  stroke-dasharray: 250.90737915039062;
  stroke-dashoffset: 250.90737915039062;
  animation: line 1.5s ease forwards 0.7999999999999999s;
}

#pil-text > path:nth-child(3) {
  stroke-dasharray: 365.8323669433594;
  stroke-dashoffset: 365.8323669433594;
  animation: line 1.5s ease forwards 0.8999999999999999s;
}

#pil-text > path:nth-child(4) {
  stroke-dasharray: 415.9674072265625;
  stroke-dashoffset: 415.9674072265625;
  animation: line 1.5s ease forwards 0.9999999999999999s;
}

#pil-text > path:nth-child(5) {
  stroke-dasharray: 236.5106201171875;
  stroke-dashoffset: 236.5106201171875;
  animation: line 1.5s ease forwards 1.0999999999999999s;
}

#pil-text > path:nth-child(6) {
  stroke-dasharray: 250.9073486328125;
  stroke-dashoffset: 250.9073486328125;
  animation: line 1.5s ease forwards 1.2s;
}

#pil-text > path:nth-child(7) {
  stroke-dasharray: 384.9954528808594;
  stroke-dashoffset: 384.9954528808594;
  animation: line 1.5s ease forwards 1.3s;
}

#pil-text > path:nth-child(8) {
  stroke-dasharray: 294.7411804199219;
  stroke-dashoffset: 294.7411804199219;
  animation: line 1.5s ease forwards 1.4000000000000001s;
}

#pil-text > path:nth-child(9) {
  stroke-dasharray: 366.8451232910156;
  stroke-dashoffset: 366.8451232910156;
  animation: line 1.5s ease forwards 1.5000000000000002s;
}

#pil-text > path:nth-child(10) {
  stroke-dasharray: 315.4167175292969;
  stroke-dashoffset: 315.4167175292969;
  animation: line 1.5s ease forwards 1.6000000000000003s;
}

#pil-text > path:nth-child(11) {
  stroke-dasharray: 415.9734802246094;
  stroke-dashoffset: 415.9734802246094;
  animation: line 1.5s ease forwards 1.7000000000000004s;
}

#pil-text > path:nth-child(12) {
  stroke-dasharray: 275.50628662109375;
  stroke-dashoffset: 275.50628662109375;
  animation: line 1.5s ease forwards 1.8000000000000005s;
}

#pil-text {
  animation: fill-blue 0.5s ease forwards 2.9000000000000004s;
}
#pil-separator {
  animation: fill-blue 0.5s ease forwards 2.9000000000000004s;
}
#pil-heart {
  animation: fill-red 0.5s ease forwards 2.9000000000000004s;
}

/**** SLIDE 2 ****/
.us {
  display: flex;
  gap: 2%;
}

.person {
  width: 48%;
}

.person img {
  height: 200px;
}


